* {
    --primaryColorBlue: #004d73;
    --primaryColorOrange: #ff6f61;
    --primaryColorGreen: #92b558;
    --primaryColorWhite: #f9f9f9;
    --secondaryColorBlue: #003b5a;
    --secondaryColorGreen: #a9c46b;
    --secondaryColorLightBlue: #e1eef3;
    --secondaryColorGray: #d6d6d6;
    --white: #ffffff;
    --black: #000000;
    --sSpacingDesktop: 40px;
    --sSpacingMobile: 16px;
    --pSpacing: 16px;
    --mWidthDesktop: 1044px;
}
