---
import PostCard from "../components/PostCard.astro";
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Mi blog de aprendizaje de Astro";
---

<Layout>
    <section class="blog-articles">
        <h2>Blog Articles</h2>
        <ul>
            {allPosts.map((post) => <PostCard post={post} />)}
        </ul>
    </section>
</Layout>

<style is:inline>
    .blog-articles {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 16px;

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 1rem;
            padding: 0;
            margin: 0;
            list-style: none;
            max-width: 1044px;
            align-items: center;
            justify-items: center;
        }

        @media screen and (max-width: 768px) {
            ul {
                margin-top: 40px;
                grid-template-columns: 1fr;
            }
        }
    }
</style>
