---
import "../styles/Header.scss";
---

<style is:inline>
    h1 {
        font-weight: 300;
        font-size: 32px;
        line-height: 100%;
        color: var(--primaryColorWhite);
    }
</style>

<header>
    <h1><a href="/">Yojhan Atuesta</a></h1>
    <button class="menu-button" type="button" aria-label="Menu Toggle">
        <img src="/menu.svg" alt="Menu Icon" />
    </button>
    <nav class="nav-desktop">
        <ul>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/#about">ABOUT</a></li>
            <li><a href="/#skill">SKILL</a></li>
            <li><a href="/#projects">PROJECTS</a></li>
        </ul>
    </nav>
    <nav class="nav-mobile nav-hidden">
        <div class="nav-top">
            <p><a href="/">Yojhan Atuesta</a></p>
            <button class="menu-button" type="button" aria-label="Menu Toggle">
                <img src="/close.svg" alt="Menu Icon" />
            </button>
        </div>
        <ul>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/#about">ABOUT</a></li>
            <li><a href="/#skill">SKILL</a></li>
            <li><a href="/#projects">PROJECTS</a></li>
        </ul>
    </nav>
</header>

<script is:inline>
    const toggleButtons = document.querySelectorAll(".menu-button");

    toggleButtons.forEach((button) => {
        button.addEventListener("click", () => {
            const parentNav = document.querySelector(".nav-mobile");
            console.log(button);
            if (parentNav.classList.contains("nav-hidden")) {
                parentNav.classList.add("nav-hidden");
            } else {
                parentNav.classList.remove("nav-hidden");
            }
        });
    });
</script>
