---
import H1 from "../components/H1.astro";
import "../styles/Header.scss";
---

<header>
    <H1> <a href="/">Yojhan Atuesta</a> </H1>
    <button class="menu-button" type="button" aria-label="Menu Toggle">
        <img src="/menu.svg" alt="Menu Icon" />
    </button>
    <nav class="nav-desktop">
        <ul>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#skill">SKILL</a></li>
            <li><a href="#projects">PROJECTS</a></li>
        </ul>
    </nav>
    <nav class="nav-mobile" aria-hidden="true">
        <div class="nav-top">
            <p><a href="/">Yojhan Atuesta</a></p>
            <button class="menu-button" type="button" aria-label="Menu Toggle">
                <img src="/close.svg" alt="Menu Icon" />
            </button>
        </div>
        <ul>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#skill">SKILL</a></li>
            <li><a href="#projects">PROJECTS</a></li>
        </ul>
    </nav>
</header>

<script is:inline>
    const toggleButtons = document.querySelectorAll(".menu-button");

    toggleButtons.forEach((button) => {
        button.addEventListener("click", () => {
            const parentNav = document.querySelector(".nav-mobile");
            console.log(button);
            if (parentNav.getAttribute("aria-hidden") == "true") {
                parentNav.setAttribute("aria-hidden", "false");
            } else {
                parentNav.setAttribute("aria-hidden", "true");
            }
        });
    });
</script>
