<div class="mouse-scroll">
    <a href="#about">
        <img
            src="/mouse_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg"
            alt="Mouse Icon"
            class="mouse-icon"
        />
    </a>
    <a href="#about">
        <img
            src="keyboard_double_arrow_right_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg"
            alt="Arrow Icon"
            class="arrow-icon"
        />
    </a>
</div>
<script
    is:inline
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    type="text/javascript"></script>
<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links
        $("a").on("click", function (event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $("html, body").animate(
                    {
                        scrollTop: $(hash).offset().top,
                    },
                    400,
                    function () {
                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    },
                );
            } // End if
        });
    });
</script>

<style is:inline>
    @keyframes animateScrollMouse {
        0% {
            transform: rotateZ(90deg) translateX(0);
        }

        50% {
            transform: rotateZ(90deg) translateX(15px);
        }

        100% {
            transform: rotateZ(90deg) translateX(0);
        }
    }

    .mouse-scroll {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 40px;
        width: 100%;
        z-index: 1;

        .mouse-icon,
        .arrow-icon {
            width: 30px;
        }

        .arrow-icon {
            transform: rotateZ(90deg);
            transform: rotateZ(90deg);
            animation-duration: 1.5s;
            animation-name: animateScrollMouse;
            animation-iteration-count: infinite;
        }
    }
</style>
