<div class="photo-parent">
    <div class="photo-decoration">
        <img alt="Yojhan Atuesta Photo" loading="eager" src="/PHOTO.png" />
    </div>
</div>

<style is:inline>
    .photo-parent {
        max-width: 360px;
        width: 360px;
        z-index: 1;
    }
</style>
