---
import Photo from "../components/Photo.astro";
import MouseScroll from "../components/MouseScroll.astro";
import "../styles/Banner.scss";
---

<section data-aos="fade-down" class="banner-section">
    <div class="banner">
        <p class="banner__intro">Hello! I am</p>
        <p class="banner__name">Yojhan Atuesta</p>
        <p class="banner__role">Web Developer</p>
        <p class="banner__desc">
            I am a tech enthusiast based in Bogotá, Colombia, I specialize in
            Shopify, focusing on custom theme development, performance
            optimization, and advanced customizations. I have a strong
            understanding of both frontend and backend architectures, delivering
            scalable and efficient solutions tailored to client needs.
        </p>
        <a target="_blank" class="btn" href="/cv-en.pdf"> DOWNLOAD MY CV </a>
    </div>
    <Photo />
    <div class="decorations">
        <div class="decoration-item decoration-item--1"></div>
        <div class="decoration-item decoration-item--2"></div>
    </div>
    <MouseScroll />
</section>
