---
import "../styles/Contact.scss";
---

<section id="contact" class="contact-section">
    <h2>Want to Connect</h2>
    <div class="contact-items">
        <div class="contact-info">
            <h3>CONTACT ME</h3>
            <p class="contact-desktop">
                If you want to contact me, you can do it through linkedin or
                mail, you can find it in the bottom left bar of the page, you
                will be redirected to my contact means. If you would like to be
                contacted by me, you can do so by filling in the form on the
                right, the information you enter will be kept confidential.
            </p>
            <p class="contact-mobile">
                If you want to contact me, you can do it through linkedin or
                mail, you can find it in the menu items at the header, you will
                be redirected to my contact means. If you would like to be
                contacted by me, you can do so by filling in the form at the
                bottom, the information you enter will be kept confidential.
            </p>
        </div>
        <div class="contact-form">
            <h3>EMAIL NEWSLETTER</h3>
            <div class="klaviyo-form-XBj8PN"></div>
        </div>
    </div>
</section>

<script>
    const script = document.createElement("script");
    script.src = `https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=VbgWEk`;
    script.type = "text/javascript";
    script.async = true;
    document?.getElementById("contact")?.appendChild(script);
</script>
