<footer>
    <div>
        <img src="/Vector.svg" alt="Copyright Icon" />
        <p>Yojhan Atuesta - 2025. All Rights Reserved</p>
    </div>
</footer>

<style is:inline>
    footer div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 40px;

        p {
            font-family: "Quicksand";
            font-weight: 500;
            font-size: 18px;
            color: var(--primaryColorWhite);
        }
    }
</style>
